registry=https://pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/
always-auth=true
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/:username=ConectaSystems
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/:username=ConectaSystems
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/:email=npm requires email to be set but doesn't use the value