registry=https://pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/:username=ConectaSystems
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/:_password=MnU3YW9iZ2VobDY1YnBxZTV6aHluNnNpaWt4eGxhZWJnaGhpcG12ZG0yYTZ1Y2R3eWt6YQ==
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/:username=ConectaSystems
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/:_password=MnU3YW9iZ2VobDY1YnBxZTV6aHluNnNpaWt4eGxhZWJnaGhpcG12ZG0yYTZ1Y2R3eWt6YQ==
//pkgs.dev.azure.com/ConectaSystems/_packaging/ConectaSystems/npm/:email=npm requires email to be set but doesn't use the value
; end auth token